h3{
    color: red;
    font-size: 100px;
    font-family: cursive;
    padding-top: -50px;
    margin-top: -25px;
}
h1:hover{
    color: orange;
}
h3:hover{
    color: orange;
}
h2{
    color: green;
    font-size: 40px;
    font-family: cursive;
    margin-top: -70px;
}
h2:hover{
    color: blue;
}
body{
    background: linear-gradient(180deg, whitesmoke 0%, rgb(66, 165, 198) 100%);
}
.abc{
    text-align: start;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}
.abc:hover{
    color: rgb(255, 0, 64);
}
.abcd:hover{
    color: white;
}